<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Blank</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            var projectDetails = [];
            var rows = document.querySelectorAll('tbody tr');

            rows.forEach(function(row, index) {
                var userIdElement = row.querySelector('input[type="hidden"][id^="userId_"]');
                var statusIdElement = row.querySelector('input[type="hidden"][id^="statusId_"]');

                if (userIdElement && statusIdElement) {
                    projectDetails.push({
                        userId: userIdElement.value,
                        statusId: statusIdElement.value,
                        rowIndex: index + 1
                    });
                }
            });

            console.log(projectDetails);

            $.ajax({
                type: "POST",
                url: '/ajax/project/getProjectDetailNames',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(projectDetails),
                success: function(data) {
                    console.log("Received data:", data);

                    data.forEach(function(detail) {
                        $('#user_' + detail.rowIndex).text(detail.userName);
                        $('#status_' + detail.rowIndex).text(detail.statusName);
                    });
                }
            });
        });

    </script>

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div th:insert="~{content/side-bar :: side}"></div>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div th:insert="~{content/top-bar :: top}"></div>
            <!-- Begin Page Content -->
            <div class="container-fluid">
                <p><span th:text = "${projectMemberCount} + '명'"></span>이 프로젝트에 참여중입니다.</p>
                <table>
                    <thead>
                    <tr>
                        <th>순번</th>
                        <th>제목</th>
                        <th>상태</th>
                        <th>담당자</th>
                        <th>시작일</th>
                        <th>마감일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each = "projectDetail, iterStat : ${projectDetailList}">
                        <input type="hidden" th:id="'userId_' + ${iterStat.index + 1}" th:value="${projectDetail.userId}">
                        <input type="hidden" th:id="'statusId_' + ${iterStat.index + 1}" th:value="${projectDetail.statusId}">
                        <td th:text = "${iterStat.index + 1}"></td>
                        <td> <a th:href = "@{/companies/{companyId}/users/{userId}/project/{projectId}/detail/{projectDetailId}(companyId = ${companyId}, userId = ${userId}, projectId = ${projectId}, projectDetailId = ${projectDetail.id})}" th:text = "${projectDetail.title}"></a></td>
                        <td th:id="'status_' + ${iterStat.index + 1}" th:text = "${projectDetail.statusId}"></td>
                        <td th:id="'user_' + ${iterStat.index + 1}" th:text = "${projectDetail.userId}"></td>
                        <td th:text="${#dates.format(projectDetail.startTime, 'yyyy-MM-dd')}"></td>
                        <td th:text="${#dates.format(projectDetail.endTime, 'yyyy-MM-dd')}"></td>
                    </tr>
                    </tbody>
                </table>
                <button th:if = "${leaderId == userId}" th:attr="onclick=|location.href='@{/companies/{companyId}/users/{userId}/project/{projectId}/form(companyId=${companyId}, userId=${userId}, projectId=${projectId})}'|">업무 추가</button>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

</body>

</html>