<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="footer">
<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span th:text="'Manageus &copy; ' + ${company} + ' 2024'"></span>
        </div>
    </div>
</footer>
<!-- End of Footer -->
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" id="companyId" th:value="${companyId}" />
    <input type="hidden" id="id" th:value="${id}" />

    <script th:inline="javascript">
        $(document).ready(function(){

            function fetchAlarmCount() {
                console.log("ajax작동");

                var companyId = $("#companyId").val();  // hidden input 태그에서 companyId 값을 가져옴
                var id = $("#id").val();  // hidden input 태그에서 id 값을 가져옴

                console.log("companyId:", companyId);
                console.log("id:", id);

                // AJAX 요청 보내기
                $.ajax({
                    url: '/companies/' + companyId + '/alarmnumber/number',
                    type: "POST",
                    contentType: 'application/json',
                    data: JSON.stringify({ companyId: companyId, id: id }),
                    dataType: "json",
                    success: function(data) {
                        console.log("AJAX 성공:", data);
                        $("#alertCounter").text(data.alarmcount); // 서버에서 받은 데이터로 알림 카운터 업데이트
                    },
                    error: function(xhr, status, error) {
                        console.error("AJAX 에러:", error);
                    }
                });
            }

            // 페이지 로드 후 1분마다 fetchAlarmCount 함수 실행
            fetchAlarmCount(); // 초기 실행
         setInterval(fetchAlarmCount, 60000); // 1분(60000밀리초)마다 실행


        });
    </script>


</div>
</body>
</html>