<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin 2 - Dashboard</title>
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">
<div id="wrapper">
    <div th:include="~{content/side-bar :: side}"></div>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div th:include="~{content/top-bar :: top}"></div>
            <div class="container-fluid">
                <div class="container-fluid mt-4 mb-4">
                    <form action="#" th:action="@{/companies/{companyId}/invitations(companyId=${companyId})}" method="post">
                        <input type="hidden" id="companyId" th:value="${companyId}"/>
                        <input type="hidden" id="roomId" name="roomId" th:value="${roomId}"/>
                        <select id="departmentSelect" name="departmentId" onchange="getPersons()">
                            <option>팀을 선택해주세요</option>
                            <option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.name}">Department</option>
                        </select>
                        <select id="personSelect" name="personId"></select>
                        <button type="submit">초대 하기</button>
                    </form>
                    <script th:inline="javascript">
                        function getPersons() {
                            var companyId = $("#companyId").val();
                            var roomId = $("#roomId").val();
                            var departmentId = document.getElementById("departmentSelect").value;

                            $.ajax({
                                url: '/companies/invitations/names',
                                type: 'POST',
                                contentType: 'application/json',
                                data: JSON.stringify({ departmentId: departmentId,id:roomId }),
                                dataType: "json",
                                success: function(response) {
                                    var personSelect = document.getElementById("personSelect");
                                    personSelect.innerHTML = "";
                                    response.DepartmentMember.forEach(function(person) {
                                        var option = document.createElement("option");
                                        option.value = person.userId;
                                        option.text = person.fullName;
                                        personSelect.add(option);
                                    });

                                },
                                error: function(error) {
                                    console.log('오류', error);
                                }
                            });
                        }
                    </script>
                </div>
            </div>
            <div th:include="~{content/footer :: footer}"></div>
        </div>
    </div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/js/sb-admin-2.min.js"></script>
<script src="/vendor/chart.js/Chart.min.js"></script>
<script src="/js/demo/chart-area-demo.js"></script>
<script src="/js/demo/chart-pie-demo.js"></script>



</body>
</html>
