<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .own-message {
            background-color: green;
            color: white;
            text-align: left;
            display: inline-block;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 5px;
        }

        .other-message {
            background-color: yellow;
            color: black;
            text-align: right;
            display: inline-block;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 5px;
        }

        .message-container {
            display: flex;
            justify-content: flex-end;
        }

        .message-container.own {
            justify-content: flex-start;
        }
    </style>
</head>
<body>
<div>
    <div class="container">
        <div class="col-6">
            <label><b>채팅방</b></label>
        </div>
        <div>
            <div id="msgArea" class="col-12">
                <div th:each="message : ${cmlist}">
                    <div th:class="${message.userId == session.memberId ? 'message-container own' : 'message-container'}">
                        <div th:class="${message.userId == session.memberId ? 'own-message' : 'other-message'}">
                            <b th:text="${message.userId} + ': ' + ${message.message}"></b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <input type="text" id="msg" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <input type="hidden" id="memberId" th:value="${session.memberId}">
                    <input type="hidden" name="id" id="id" th:value="${id}">
                    <input type="hidden" name="roomId" id="roomId" th:value="${roomId}">

                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    $(document).ready(function(){
        const username = $("#memberId").val();

        $("#disconn").on("click", (e) => {
            disconnect();
        });

        $("#button-send").on("click", (e) => {
            send();
        });

        const websocket = new WebSocket("ws://192.168.0.104:8080/ws/chat");

        websocket.onmessage = onMessage;
        websocket.onopen = onOpen;
        websocket.onclose = onClose;

        function send(){
            let msg = document.getElementById("msg").value;
            let memberId = document.getElementById("memberId").value;
            let id = document.getElementById("id").value;
            let roomId = document.getElementById("roomId").value;
            console.log(memberId + ":" + msg);
            websocket.send(memberId + ":" + msg);

            $.ajax({
                url: '/send-message',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ memberId: memberId, message: msg, id: id, roomId: roomId }),
                success: function(response) {
                    console.log('메시지 전송 성공');
                },
                error: function(error) {
                    console.log('메시지 전송 오류:', error);
                }
            });

            document.getElementById("msg").value = '';
        }

        function addMessage(sessionId, message, isOwnMessage) {
            var containerClass = isOwnMessage ? 'message-container own' : 'message-container';
            var messageClass = isOwnMessage ? 'own-message' : 'other-message';
            var str = "<div class='" + containerClass + "'>";
            str += "<div class='" + messageClass + "'>";
            str += "<b>" + sessionId + " : " + message + "</b>";
            str += "</div></div>";
            $("#msgArea").append(str);
        }

        // 채팅창에서 나갔을 때
        function onClose(evt) {
            var str = username + ": 님이 방을 나가셨습니다.";
            websocket.send(str);
        }

        // 채팅창에 들어왔을 때
        function onOpen(evt) {
            var str = username + ": 님이 입장하셨습니다.";
            websocket.send(str);
        }

        function onMessage(msg) {
            var data = msg.data;
            var arr = data.split(":");
            var sessionId = arr[0];
            var message = arr[1];

            addMessage(sessionId, message, sessionId == username);
        }
    });
</script>
</body>
</html>
