<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<select name="selectCompanyId" id="selectCompanyId" required>
    <option th:each="selectCompanyId : ${selectCompanyId}"
            th:value="${selectCompanyId.departmentId}"
            th:text="${selectCompanyId.departmentId}">
    </option>
</select>



<!--
<script th:inline="javascript">
    /*<![CDATA[*/
    $(function() {
        $("#selectDepartment").on("change", function() {
            var departmentId = $(this).val();
            var companyId = /*[[${companyId}]]*/ '0'; // Replace with actual value
            var id = /*[[${id}]]*/ '0'; // Replace with actual value

            $.ajax({
                url: "/approval/" + companyId + "/" + id + "/selectPeople",
                data: { departmentId: departmentId },
                success: function(data) {
                    var $selectPeople = $("#selectPeople");
                    $selectPeople.empty();
                    $.each(data, function(index, person) {
                        $selectPeople.append($("<option></option>")
                            .attr("value", person.id)
                            .text(person.name));
                    });
                }
            });
        });
    });
    /*]]>*/
</script>
-->
</body>
</html>