<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>결재 상세 페이지</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <div th:include="~{content/admin-side-bar :: adminside}"></div>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div th:include="~{content/admin-top-bar :: admintop}"></div>

            <!-- 여기 쓰면됨 -->


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h3 class="h3 mb-2 text-gray-800 text-center">신청서</h3>

                <th:block th:if="${#lists.contains(userIdStrings, sessionIds)} or ${sessionId.equals(approvalInfo.userId)}">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <div class="text-right" style="display: flex; justify-content: flex-end;">
                            <div th:if="${#lists.contains(userIdStrings, sessionIds) and status == 1001}">
                                <div>
                                    <form th:action="@{/manageus/approval/posts/{approvalId}/reject(approvalId=${approvalId})}" method="post" style="margin-right: 18px;">
                                        <input type="hidden" name="_method" value="put">
                                        <input type="hidden" name="status" value="1004">
                                        <button type="submit" class="btn btn-primary">반려하기</button>
                                    </form>
                                </div>
                            </div>

                            <div th:if="${#lists.contains(userIdStrings, sessionIds) and status == 1002}">
                                <p>결재 완료</p>
                            </div>
                            <div th:if="${#lists.contains(userIdStrings, sessionIds) and status == 1004}">
                                <p>결재 반려</p>
                            </div>

                            <div th:if="${sessionId.equals(approvalInfo.userId)}">
                                <p th:text="${approvalInfo.getStatus.getName}"></p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTablee" style="float: right; width: 150px; margin-left: 20px;">
                                <tbody>
                                <tr>
                                    <td th:each="detail : ${approvalDetail}" th:text="${detail.user.position.name}"></td>
                                </tr>
                                <tr>
                                    <td th:each="detail : ${approvalDetail}">
                                        <div th:if="${detail.statusId == 1002}">
                                            <img th:src="@{'/img/stamp/' + ${detail.user.userInfo.stamp}}"
                                                 width="30" height="30">
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- 나머지 테이블은 그대로 -->
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td>제    목</td>
                                    <td th:text="${approvalInfo.title}"></td>
                                </tr>
                                <tr>
                                    <td>부    서</td>
                                    <td th:text="${departmentName}"></td>
                                </tr>
                                <tr>
                                    <td>직    위</td>
                                    <td th:text="${positionName}"></td>
                                </tr>
                                <tr>
                                    <td>성    명</td>
                                    <td th:text="${userInfoName}"></td>
                                </tr>
                                <tr>
                                    <td>휴 가 구 분</td>
                                    <td th:text="${approvalInfo.getApprovalType.getName}"></td>
                                </tr>
                                <tr>
                                    <td>휴 가 기 간</td>
                                    <td th:text="${#dates.format(approvalInfo.startDate, 'yyyy년 MM월 dd일') + ' ~ ' + #dates.format(approvalInfo.endDate, 'yyyy년 MM월 dd일')}"></td>
                                </tr>
                                <tr>
                                    <td>휴 가 사 유</td>
                                    <td th:text="${approvalInfo.content}"></td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: center;">
                                        위와 같이 휴가를 신청합니다.
                                        <br/><br/>
                                        <h5 style="text-align: right; margin: 0; font-size: 15px;"
                                            th:text="${#dates.format(approvalInfo.signOn, 'yy년MM월dd일')}"></h5>
                                        <br/>
                                        <h5 style="text-align: right; margin: 0; font-size: 15px;"
                                            th:text="'신 청 자 : ' + ${userInfoName}"></h5>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </th:block>
            </div>
            <!-- /.container-fluid -->


        </div>
        <!-- End of Main Content -->

        <div th:replace="~{content/footer :: footer}"></div>
    </div>
    <!-- End of Content Wrapper -->
</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>



</body>

</html>
