<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>받은 쪽지 전체</title>
</head>
<body>
// 아직 여기 출력 못함
<p><span th:text="${session.userId}"></span></p> 님이 받은 메세지 기록

<h2> Get Message List</h2>
<table border="1">
    <tr>
        <th>쪽지번호</th>
        <th>회사번호</th>
        <th>내용</th>
        <th>수신자</th>
        <th>읽음상태</th>
        <th>보낸날짜</th>
    </tr>
    <tr th:each="message : ${messageJPA}">
        <td><span th:text="${message.id}"></span></td>
        <td><span th:text="${message.user_id}"></span></td>
        <td><span th:text="${message.subject}"></span></td>
        <td><span th:text="${message.reader}"></span></td>
        <td><span th:text="${message.read_type}"></span></td>
        <td><span th:text="${message.read_date}"></span></td>
    </tr>
</table>

</body>
</html>