<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>받은 쪽지 전체</title>
</head>
<body>
// 아직 여기 출력 못함
<p><span th:text="${session.userId}"></span></p> 님이 받은 메세지 기록

<h2> Get Message List</h2>
<table border="1">
    <tr>
        <th>쪽지번호</th>
        <th>회사번호</th>
        <th>내용</th>
        <th>수신자</th>
        <th>읽음상태</th>
        <th>보낸날짜</th>
    </tr>
    <tr th:each="message, iterStat : ${get}">
        <td><span th:text="${iterStat.index + 1}"></span></td> <!-- 인덱스 값 + 1 -->
        <td><span th:text="${message.userId}"></span></td>
        <td>
            <span th:text="${#strings.length(message.subject) > 8 ? #strings.substring(message.subject, 0, 8).concat('....') : message.subject}"></span>
        </td>
        <td><span th:text="${message.reader}"></span></td>
        <td><span th:text="${message.readType}"></span></td>
        <td><span th:text="${message.readDate}"></span></td>
    </tr>
</table>


<a href="/user/message">쪽지쓰기</a>
<a href="">홈으로 이동(아직없음)</a>
<a href="/user/sendMassage">전체 보낸쪽지 전체보기</a>


</body>
</html>