<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>테스트용</title>
</head>
<body>

메세지 보내기 성공
<div>

    <p>수신자: <span th:text="${reader}"></span></p>
    <p>내용: <span th:text="${subject}"></span></p>
    <p>성공 여부: <span th:text="${result}"></span></p>

</div>


<h2>Message List</h2>
<table border="1">
    <tr>
        <th>쪽지번호</th>
        <th>회사번호</th>
        <th>내용</th>
        <th>수신자</th>
        <th>읽음상태</th>
        <th>보낸날짜</th>
    </tr>
    <tr th:each="message : ${get}">
        <td><span th:text="${message.id}"></span></td>
        <td><span th:text="${message.userId}"></span></td>
        <td>
            <span th:text="${#strings.substring(message.subject, 0, 30)}"></span>
        </td>
        <td><span th:text="${message.reader}"></span></td>
        <td><span th:text="${message.readType}"></span></td>
        <td><span th:text="${message.readDate}"></span></td>
    </tr>
</table>

<a href="/user/message">쪽지쓰기</a>
<a href="">홈으로 이동(아직없음)</a>
<a href="/user/getMassage">전체 받은쪽지 전체보기</a>
<a href="/user/sendMassage">전체 보낸쪽지 전체보기</a>

</body>
</html>