<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>개인달력</title>

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js'></script>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
          var calendarEl = document.getElementById('calendar');
          var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth'
          });
          calendar.render();
        });

    </script>

</head>
<body>

여기는 개인 달력

<br>

<div id='calendar' style='width: 600px; height: 600px;'></div>

</body>
</html>